.App {
  text-align: center;
}

.button-container {
  height: 350px;
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 200px;
  height: 60px;
  margin: 10px auto;
  border-radius: 30%;
  background-color: rgb(76, 76, 236);
}